[user]
	email = 38267386+randomlylelo@users.noreply.github.com
	name = Leo
	signingkey = 16EB7FB423156DC9
[init]
	defaultBranch = main
[credential]
	helper = store
[commit]
	gpgsign = true
[tags]
	gpgsign = true
[tag]
	gpgsign = true
