[user]
	email = 38267386+randomlylelo@users.noreply.github.com
	name = Leo
	signingkey = 003E06BB273CB664
[init]
	defaultBranch = main
[credential]
	helper = store
[commit]
	gpgsign = true
[tags]
	gpgsign = true
[tag]
	gpgsign = true
[core]
	autocrlf = input
[pull]
	rebase = false
[push]
	autoSetupRemote = true
